<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Edit Robot</title>
</head>
<body>
	<h1>Edit Robot</h1>
	<%= form_for :robot, url: robot_path(@robot), method: :patch do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :info %><br>
		<%= f.text_area :info %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	<% end %>
</body>
</html>